$bg-color: #212121;

$red:     #ff5370;
$green:   #c3e88d;
$yellow:  #ffcb6b;
$blue:    #82aaff;
$magenta: #bb80b3;
$cyan:    #89ddff;

$separator-color: #545454;
$separator: solid 1.5px $separator-color;
