.post-content {
  line-height: 36px;

  h1, h2, h3, h4, h5 {
    display: inline-block;
    width:   100%;
    padding: 8px 0;
  }

  h1 {
    border-bottom: solid 3px $green;
    font-size:     24px;
  }

  h2 {
    border-bottom: solid 3px $yellow;
    font-size:     22px;
  }

  h3 {
    border-bottom: solid 3px $red;
    font-size:     20px;
  }

  h4 {
    border-bottom: solid 3px $magenta;
    font-size:     18px;
  }

  h5 {
    border-bottom: solid 3px $cyan;
    font-size:     16px;
  }

  p code {
    margin:           0 4px;
    padding:          2px 6px;
    background-color: $separator-color;
    border-radius:    2px;
  }

  pre {
    padding:       12px;
    border:        $separator;
    line-height:   20px;
  }

  img {
    display:   block;
    max-width: 50%;
  }
}
