@import '../_variables.scss';

.post-page {
  .post-title {
    font-size:   28px;
    font-weight: bold;
    color:       $yellow;
  }

  .post-date {
    padding: 12px 0;
    font-size: 14px;
  }

  .post-toc {
    margin:        24px 0;
    padding:       24px;
    border:        solid 1px $blue;

    .post-toc__title {
      display:        inline-block;
      font-size:      20px;
      padding-bottom: 12px;
    }
    
    li {
      list-style-type: none;
    }
  }

  .post-toc__title {
    font-size: 24px;
  }
}
