@import '../_variables.scss';

.post-page {
  .post-title {
    font-size:   28px;
    font-weight: bold;
  }

  .post-date {
    padding: 12px 0;
    font-size: 14px;
  }

  .post-toc {
    margin:        24px 0;
    padding:       24px;
    border-radius: 4px;
    border:        solid 1px $blue;

    .post-toc__title {
      display:        inline-block;
      font-size:      20px;
      padding-bottom: 12px;
    }
    
    li {
      list-style-type: none;
    }
  }

  .post-toc__title {
    font-size: 24px;
  }

  .post-content {
    line-height: 36px;

    h1, h2, h3, h4, h5 {
      display: inline-block;
      width:   100%;
      padding: 8px 0;
    }

    h1 {
      border-bottom: solid 3px $green;
      font-size:     24px;
    }

    h2 {
      border-bottom: solid 3px $yellow;
      font-size:     22px;
    }

    h3 {
      border-bottom: solid 3px $red;
      font-size:     20px;
    }

    h4 {
      border-bottom: solid 3px $magenta;
      font-size:     18px;
    }

    h5 {
      border-bottom: solid 3px $cyan;
      font-size:     16px;
    }

    p code {
      margin:           0 4px;
      padding:          2px 6px;
      background-color: $separator-color;
      border-radius:    2px;
    }

    pre {
      padding:       12px;
      border:        $separator;
      border-radius: 4px;
      line-height:   20px;
    }
  }
}
