<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:image"     content="{{ config.extra.thumbnail_url }}" />
  <meta name="twitter:card"  content="summary" />
  <meta name="twitter:site"  content="@nepp_yaga" />
  <meta name="twitter:image" content="{{ config.extra.thumbnail_url }}" />
  {% block metadata %}{% endblock metadata %}
  {% block title %}{% endblock title %}
  {% block css %}{% endblock css %}
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans+JP' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
</head>
<body>
  <header class="header">
    <a class="header__title" href="{{ config.base_url }}">Yaga & Me</a>
    <span class="header__sub-title">日々のログ。ねこが好き</span>
  </header>
  <main class="main">
    {% block content %}{% endblock content %}
  </main>
  <footer></footer>
</body>
</html>
