<!DOCTYPE html>
<html lang="ja">
<head>
  <title>
    {% block title %}{% endblock title %}
  </title>
  {% block js %}
  {% endblock js %}
  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  {% endblock css %}
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body>
  <h1>test</h1>
  {% block content %}
  {% endblock content %}
  <footer><a href="{{ config.base_url }}">{{ config.title }}</a></footer>
  {% block js_body %}
  {% endblock js_body %}
</body>
</html>
