<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>
    Yaga & Me
    {% block title %}{% endblock title %}
  </title>
  {% block css %}{% endblock css %}
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  {% block metadata %}{% endblock metadata %}
</head>
<body>
  <header class="header">
    <a class="header__title" href="{{ config.base_url }}">Yaga & Me</a>
    <span class="header__sub-title">日々のログ。ねこが好き</span>
  </header>
  <main class="main">
    {% block content %}{% endblock content %}
  </main>
  <footer><a href="{{ config.base_url }}">{{ config.title }}</a></footer>
</body>
</html>
