{% extends "base.html" %}

{% block title %}
<title>
  {{ config.title }}
</title>
{% endblock title %}

{% block metadata %}
  <meta property="og:type"         content="website" />
  <meta property="og:title"        content="{{ config.title }}" />
  <meta property="og:description"  content="{{ config.description }}" />
  <meta property="og:url"          content="{{ config.base_url }}" />
  <meta name="twitter:title"       content="{{ config.title }}" />
  <meta name="twitter:description" content="{{ config.description }}" />
{% endblock metadata %}

{% block content %}
<div class="index-page">
  {% set post = get_section(path="post/_index.md") %}
  <div class="index-page post-list">
    {% for page in post.pages %}
      <div class="index-page post">
        <a class="index-page post__title" href="{{ page.permalink }}">
          {{ page.title }}
        </a>
        <div class="index-page post__date">投稿日: {{ page.date }}</div>
        <p>
          {{ page.summary | striptags }}
        </p>
        <a href="{{ page.permalink }}">続きを読む</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
