{% extends "base.html" %}

{% block title %}
<title>
  {{ config.title }} / {{ page.title }}
</title>
{% endblock title %}

{% block metadata %}
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="{{ config.title }} / {{ page.title }}" />
  <meta property="og:description" content="{{ page.summary | striptags }}" />
  <meta property="og:url"         content="{{ page.permalink }}" />
{% endblock metadata %}

{% block content %}
<div class="post-page">
  <div class="post-page post-title">{{ page.title }}</div>
  <div class="post-page post-date">投稿日: {{ page.date }}</div>
  <ul class="post-page post-toc">
    <span class="post-page post-toc__title">目次</span>
    {% for h1 in page.toc %}
      <li>
        <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
          <ul>
            {% for h2 in h1.children %}
              <li>
                <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="post-content">
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}
